@{
    ViewData["Title"] = "Create Artwork product";
}

<h1>Create</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImage" method="post" enctype="multipart/form-data">
                <input type="file" name="files" />

            <div class="form-group">
                <input type="submit" value="AddImage" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
