html {
    font-size: 14px;
    background-color: #9EA996;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9EA996;
}


/*card styling*/
.card {
    padding-left: 0;
    padding-right: 0;
}

.card-body {
    padding: 0.4rem 0.4rem;
}

.card-text {
    margin-bottom: 0.2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.card {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
    border: 1px solid #8E9887;
}

.column img:hover {
    filter: grayscale(0.1) brightness(0.5);
}

@media screen and (max-width: 1000px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
